<!DOCTYPE html>
	<html>
		<head>
			<title>{{ My page }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/pub">Research</a></li>
				<li><a href="/talk">Talk</a></li>
	        		<li><a href="/teaching">Responsibility</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>Email 1: <a href="mailto:molei_liu@g.harvard.edu">molei_liu@g.harvard.edu</a></li>
			        <li>Email 2: <a href="mailto:ml4890@cumc.columbia.edu">ml4890@cumc.columbia.edu</a></li>
				</ul>
			</footer>
		</body>
	</html>
